
#contact {
  margin: 0 auto;
  text-align: center;
  font:13px Georgia, "Times New Roman", Times, serif;
  background:#eee;
  padding:10px 20px;
  width:430px;
}

#style {
  margin: 0 auto;
  text-align: center;
  font:13px Georgia, "Times New Roman", Times, serif;
  background:#eee;
  padding:10px 20px;
  width:730px;
}